<div class="hero row g-0">
    <div class="col-lg-5 col-md-12">
        <img src="assets/images/herobg.png" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="hero-text text-right">
            <h1>Welcome back, {{username}}</h1>
            <h2>Your best source for quality NBA news, rumors, analysis, stats and scores from the fan perspective.</h2>
            <a href="#games-section" class="btn btn-primary">View Games</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col">

            <div id="games-section" class="row pt-5">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="section-title">GAMES</h1>
                        </div>
                    </div>
                    <!--START ALL GAMES -->
                    <div class="row">
                        {{#each games}}
                        <div class="col-lg-6 mb-4">
                            <a href="/game/{{id}}">
                            <div class="game-card">
                                <div class="row mt-3">
                                    <div class="col-lg-12 col-md-12 game-detail text-center">
                                        <h3>{{render_team_name home_team_id}} VS {{render_team_name away_team_id}}</h3>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-3">
                                    <div class="col-lg-5 col-md-12 team-content d-flex justify-content-center">
                                        <img src="{{render_team_logo home_team_id}}"
                                            alt="{{render_team_name home_team_id}}" class="img-fluid">
                                    </div>
                                    <div class="col-lg-2 text-center"><span class="vs">VS</span></div>
                                    <div class="col-lg-5 col-md-12 team-content d-flex justify-content-center">
                                        <img src="{{render_team_logo away_team_id}}"
                                            alt="{{render_team_name away_team_id}}" class="img-fluid">
                                    </div>
                                    </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12 col-md-12 game-detail text-center">
                                        <h3>{{nice_format_date date_time}}</h3>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    <!--END ALL GAMES -->
                </div>
                <!--START NEWS -->
                <div class="col-lg-4">
                    <h1 class="section-title">NEWS</h1>
                    <div class="news-container">
                        <section class="single-item">
                            {{#each news}}
                            <div class="news-article">
                                <div class="news-body">
                                    <h3>{{Title}}</h3>
                                    <p>{{Content}}</p>
                                    <a href="{{Url}}"target='_blank' rel="noreopener">Read More <i class="fas fa-arrow-right"></i></a>
                                    <div class="news-footer">
                                        <i class="far fa-calendar-alt"></i> {{TimeAgo}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </section>
                    </div>
                </div>
                <!--END NEWS -->
            </div>
        </div>
    </div>
</div>