
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-12 d-flex justify-content-between g-0">
                    <div>
                        <h1 class="page-title">{{render_team_name game.away_team_id}} -VS- {{render_team_name game.home_team_id}}</h1>
                    </div>
                    <div><a href="#" class="btn btn-primary">upvote</a></div>

                </div>
            </div>
            <div class="row ">
                <div class="col-12 single-game">
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <img src="{{render_team_logo game.away_team_id}}" alt="{{render_team_name game.away_team_id}}"
                                    class="img-fluid">
                                <h4 class="mt-2">20 - 14</h4>
                            </div>
                        </div>
                        <div class="col-5 text-center d-flex align-items-center justify-content-center">
                            <h3 class="score d-flex justify-content-center align-items-center">{{game.away_team_score}} <span class="time">Q{{game.quarter}}<br/ >
                                    {{game.time_remaining_minutes}}:{{game.time_remaining_seconds}}</span> {{game.home_team_score}} </h3>
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <img src="{{render_team_logo game.home_team_id}}" alt="{{render_team_name game.home_team_id}}"
                                    class="img-fluid">
                                <h4 class="mt-2">20 - 14</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="page-section game-info bg-mid">
                                <h3>GAME INFO</h3>
                                <p>No info to show at this time, please check back again for an update.</p>
                            </div>
                        </div>
                    </div>
                   <!-- {{> comments game.comments}} -->

                   <div class="row mt-5">
                      <div class="col-12">
                        <div class="page-section game-info bg-mid">
                          <div class="row">
                            <div class="col d-flex justify-content-between">
                              <div><h3>GAME CHATTER</h3></div>
                              <div>130 COMMENTS</div>
                            </div>
                          
                        </div>
                          <div class="row">
                            <div class="col-12">
                              <div class="comment">
                              <div class="comment-body">
                                <div class="d-flex">
                                  <div class="flex-shrink-0">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="..." class="comment-img">
                                  </div>
                                  <div class="flex-grow-1 ms-3 flex-column">
                                    This is some content from a media component. You can replace this with any content and adjust it as needed.
                                    <div class="comment-meta">
                                      <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fas fa-user-alt"></i>Username</li>
                                        <li class="list-inline-item"><i class="fas fa-calendar-alt"></i>Post Date</li>
                                        <li class="list-inline-item"><a href="#" id="delte-btn"><i class="far fa-trash-alt"></i>Delete</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--end comment-->

                            
                            <form>
                              <div class="mb-3">
                              <textarea id="comment-textarea" class="form-control" rows="4"></textarea>
                            </div>
                              <button id="add-comment-btn" type="button" class="btn btn-primary">POST COMMENT</button>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END COMMENTS -->
                </div>
                <!--end single game-->
            </div>
        </div>
    </div>
</div>
<script src="../public/assets/javascript/comment.js"></script>