<!-- NAVBAR start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">DASHBOARD</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            SPORTS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">NBA</a></li>
            <li><a class="dropdown-item" href="#">NFL</a></li>
            <li><a class="dropdown-item" href="#">MLB</a></li>
            <li><a class="dropdown-item" href="#">NHL</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            LOGIN
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">ACCOUT</a></li>
            <li><a class="dropdown-item" href="#">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- NAVBAR end -->
<main>
  <!---------------------------- START container ---------------------------->
  <!-- <div class="container">
      <div class="row d-flex justify-content-center">
        <div>     -->
  <div class="container-fluid">
    <div class=" d-flex justify-content-center">
      <div class="col-md-10">
        <div class="container">
          <div class="row d-flex justify-content-start ">
            <div class="col-md-12">
              <!-- CONTAINER HEADER -->
              <h1 class="page-title text-center mt-5 mb-5">
                {{render_team_name game.HomeTeamID}} &nbsp;&nbsp;<span class="text-muted">-VS-</span>&nbsp;&nbsp;
                {{render_team_name game.AwayTeamID}}
              </h1>
            </div>
            <!-- VOTE AND TEAM LOGO SECTION -->

            <!-- TEAM SELECT buttons -->
            <div class="row col-md-12 mb-2">
              <div class="col-md-3 mb-4">
                <div class="btn-toolbar d-flex justify-content-center" role="toolbar"
                  aria-label="Toolbar with button groups">
                  <div class="row">
                    <div class="col-md-12 team-btn btn-group mb-3" role="group" aria-label="First group">
                      <button type="button" class="btn btn-primary btn-lg">Vote for the Home Team</button>
                    </div>
                    <!-- HOMETEAM LOGO -->
                    <div class="game-card d-flex justify-content-center align-items-center">
                      <div class="col-md-12 team-content">
                        <img src="{{render_team_url game.HomeTeamID}}" alt="" class="img-fluid" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- GAME CARD FOR DISPLAY TEAMS AND TIME -->
              <div class="col-md-6 mb-4 d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center home-away">
                  <div class="row">
                    <div class="team-content">
                      <div class="col-md-12 game-detail text-center">
                        <h3>{{render_team_name game.HomeTeamID}}</h3>
                        <h5 class="text-muted">VS</h5>
                        <h3>{{render_team_name game.AwayTeamID}}</h3>
                        <h3 class="text-muted">{{render_date game.DateTime}}</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- AWAY TEAM LOGO -->
              <div class="col-md-3 mb-4">
                <div class="btn-toolbar d-flex justify-content-center" role="toolbar"
                  aria-label="Toolbar with button groups">
                  <div class="row">
                    <div class="col-md-12 team-btn btn-group mb-3" role="group" aria-label="First group">
                      <button type="button" class="btn btn-primary btn-lg">Vote for the Home Team</button>
                    </div>
                    <!-- HOMETEAM LOGO -->
                    <div class="game-card d-flex justify-content-center align-items-center">
                      <div class="col-md-12 team-content">
                        <img src="{{render_team_url game.AwayTeamID}}" alt="" class="img-fluid" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END  -->
            </div>
            <!-- GAME INFO DIV -->
            <div class="col-md-12 mb-4">
              <div class="game-card d-flex justify-content-between">
                <div class="row">
                  <div class="col-md-6 game-detail text-center">
                    <h3>GAME INFO</h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- COMMENTS DIV -->
            <div class="col-md-12 mb-4">
              <div class="game-card d-flex justify-content-between">
                <div class="row">
                  <div class="col-md-6 game-detail text-center">
                    <h3>COMMENTS</h3>
                  </div>
                </div>
              </div>
            </div>
            <!-- COMMENTS DIV -->
            <div class="col-md-12 mb-4">
              <div class="game-card d-flex justify-content-between">
                <div class="row">
                  <div class="col-md-6 game-detail text-center">
                    <h3>COMMENTS</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <!---------------------------------------------------TEST TEST TEST-------------------------------------------------------------------->

    <!---------------------------------------------------TEST TEST TEST-------------------------------------------------------------------->
    <!-- CHAT header -->
    <main role="main" class="chat container">
      <div class="d-flex align-items-center p-3 my-3 bg-secondary bg-gradient text-white-50 bg-blue rounded box-shadow">
        <img class="mr-3" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">John Doe</h6>
          <small>Messages</small>
        </div>
      </div>
      <!-- CHAT body -->
      <div class="my-3 p-3 bg-secondary bg-gradient rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
        <div class="media text-info pt-3">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32"
            height="32">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="media text-info pt-3">
          <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="mr-2 rounded" width="32"
            height="32">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="media text-info pt-3">
          <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="mr-2 rounded" width="32"
            height="32">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <div class="media text-info pt-3">
          <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="mr-2 rounded" width="32"
            height="32">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@username</strong>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
            mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          </p>
        </div>
        <small class="d-block text-right mt-3">
          <a href="#">All messages</a>
        </small>
      </div>
      <!-- CHAT end -->
    </main>
    <!-- end  -->
  </div>